// Colors
$primary: #06843c;
$white: #fff;
$black: #000;
$background: gainsboro;

// fonts
$paragraph-fs: 1rem;
$h1-fs: $paragraph-fs + 1.5rem;
$h2-fs: $paragraph-fs + 1.25rem;
$h3-fs: $paragraph-fs + 0.5rem;
$bold: 900;
$font-family: "Helvetica", sans-serif;

$boxShadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
